.card{
	height: 24.5rem;
	width: 19rem;
	border-radius: 1rem;
	position: relative;
	background-color: white;
	border: 8px white solid;
	z-index: 98;
}

.card:hover{
	box-shadow: 0px 2px 8px 0px #c7c7c7;
}

.card img{
	height: 68%;
	width: 100%;
/*	border-radius: 1rem;*/
}

.card-body{
	position: relative;
}

.rating{
	font-weight: 400;
	font-size: 0.85rem;
	height: 0.95rem;
	width: 2.7rem;
	background-color: var(--primary-color);
	text-align: center;
	color: white;
	border-radius: 0.5rem;
	padding: 0.2rem;
	position: absolute;
	top: 0;
	right: 0;
}

.rating i{
	font-size: 0.5rem;
	position: relative;
	bottom: 2px;
	color: white;
}

.name{
	margin-top: 0.5rem;
	font-size: 1.25rem;
}

.description{
	font-weight: 0;
	color: #868686;
	margin-bottom: 1rem;
}

.price{
	display: inline-block;
	background-color: var(--primary-color);
	color: white;
	font-weight: 900;
	padding: 0.5rem;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 0.25rem;
	font-size: 0.85rem;
}

.add2cart{
	display: inline-block;
	padding: 0.5rem;
	border: 1px solid #696969;
	font-weight: 100;
	margin-left: 0.5rem;
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: 0.85rem;
}