/*body*/

body{
	margin: 0;
	font-family: sans-serif;
}

/*navbar*/

nav{
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 1.5rem;
	box-shadow: 0px 0px 5px 8px whitesmoke;
	position: fixed;
	top: 0px;
	width: 97%;
}

nav > div{
	display: inline-block;
	font-size: 1.1rem;
}

#navigation{
	display: flex;
	align-items: center;
}

/*navbar links*/

#navigation > div{
	width: 5rem;
}

.nav-link{
	color: black;
	text-decoration: none;
	transition: 0.25s ease-in-out;
	color: #343a40;
    font-weight: 500
}

.nav-link:hover{
    color: red;
    border-bottom: 1px solid black;
}

#navigation .btn{
	width: 8rem;
	height: 1.3rem;
}

.navicon{
	width: 3.5rem !important;
}