<nav id="navbar">
        <div id="logo">
            <img src="images/vinline.png" height="50px" width="200px">
        </div>
        <div id="navigation">
            <div><a class="nav-link" href="/">Home</a></div>
            <div><a class="nav-link" href="#">Blog</a></div>
            <div><a class="nav-link" href="#about">About</a></div>
            <div><a class="nav-link" href="#">Contact</a></div>
            <div class="navicon"><a href="cart"><i class="fa-solid fa-cart-shopping"></i></a></div>
            <div class="navicon"><a href="#"><i class="fa-solid fa-bell"></i></a></div>
            <div id="login-signup-btn" class="btn" onclick="location.href='signup.html'">Login/Signup</div>
            <div id="profile">
                <div id="profile-img">
                    <!-- <img src="images/self.jpg"> -->
                </div>
                <div id="profile-name"></div>
                <button class="btn-arrow"><i class="fa-solid fa-angle-down"></i></button>
                <div id="profile-card">
                    <div id="profile-card-img"></div>
                    <div id="profile-card-name"><h4></h4></div>
                    <div id="profile-card-email"><p></p></div>
                    <div>
                        <button type="button" onclick="location.href='profile'">Profile Dashboard</button>
                        <button type="button">Log Out</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>